@import "colors.less";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Overpass");

body {
	background: @babyblue;
	font-family: "Overpass";
}

a {
	color: @mint;
}

h3 {
	color: @purple;
}

.button {
	background-color: @mint;
}

.topBox {
	background-color: @mint;
	box-shadow: inset 0 1px rgba(0,0,0,.4);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat";
}


.anotherClassName {
	width: 100%;
    height: 300px;
    overflow: scroll;
    white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

h1,p {
	text-align: center;
}


